.cspfmp_dependcy {
	display: none;
}
.cspfmp__wrapper h2{
    background: #0073aa;
    color: #fff;
    padding: 15px;
}
.cspfmp__option {
    margin: 25px 0;
}
.cspfmp__option input[type="submit"] {
    background: #0073aa;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
}